
.mydiv { 
    width: 200px; 
    height: 50px;
    border: solid black;
    background-color: rgb(128, 128, 94); 
    margin: 5px; 
  }

.outer{
    margin: 2px;
    padding: 10px;
    border: solid black;
    background-color: rgb(67, 127, 121);

  }

#output{
    margin: 5px;
    background-color: white;
    border: solid black;
    width: 200px;
    height: 30px;
}

#outputHeadline{
    margin: 8px;
    font-size: 18px;

}

#tableForCars{

    width: 800px;
    height: 400px;
    background-color: lightgray;
    border: solid black;
    border-collapse: true;

}


#tableForCars td{

    padding-left: 10px;
    background-color: lightgray;
    
    border-bottom: solid thin darkgray;

}

#tableForCars td:nth-child(4) {
    width: 350px;
} 

#tableForCars th{

    background-color: lightgray;
    
    border-bottom: solid thick darkgray;

}

#container {
    width: 226px;
    height: 274px;
    border: 3px solid darkblue;
    margin: auto
}
.t1, .t4 {
    border: 1px solid black;
    height: 48px;
    margin-left: 3px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
}
.t1 {
    width: 48px;
}
.t4 {
    width: 219px;
}

